body {
    text-align: center;
    background-color: rgb(168, 168, 202);
}

div {
    margin-top: 20px;
}

.image-section {
    display: flex;
    justify-content: center;
}

.section-style {
    margin-right: 25px;
    margin-left: 25px;
    background-color: white;
}